[Unit]
Description=Spdmlite service

[Service]
ExecStart=/usr/bin/spdmlite -c /var/spdm/spdm.conf
Restart=always
Type=dbus
BusName=xyz.openbmc_project.spdm

[Install]
WantedBy=multi-user.target
